<div class="home-banner">
  <h1><span id="banner-typed-text"></span></h1>
</div>

<div class="container">
  <h1 class="text-center my-3">Best Front-End Page Ever</h1>

  <!-- Bootstrap cards -->
  <div class="row my-3">

  <% bootstrap_cards = [
    { card_title: "Margo Coding FE",
      card_img: "https://cdn.drawception.com/drawings/AKBBhpwfBn.png",
      card_text: "It's really a spooky experience. But you get nice pictures..."},
      { card_title: "",
        card_img: "https://pics.me.me/5-lu-something-scary-for-halloween-37204866.png",
      card_text: ""}
      ] %>

  <% bootstrap_cards.each do |card| %>

  <div class="col-sm-6">
      <div class="card">
      <%= image_tag card[:card_img], alt: "alttext", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= card[:card_title] %></h5>
          <p class="card-text"><%= card[:card_text] %></p>
          <%= render partial: 'shared/modal', locals: { modal_image: "https://i.etsystatic.com/10692466/r/il/400d91/1624552698/il_570xN.1624552698_ahq9.jpg"} %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

 <!-- Le Wagon cards -->

  <% city_images = {
    "Brussels" =>"https://s3-eu-west-1.amazonaws.com/brussels-images/content/gallery/visit/article/halloween/halloween-bruxelles-enfants-2019.jpg",
    "Paris" => "https://static.lexpress.fr/medias_8805/w_480,h_270,c_fill,g_north/v1382613193/halloween-a-paris-les-endroits-a-ne-pas-manquer_4508578.jpg",
    "London" => "http://www.speakeasy-news.com/wp-content/uploads/2017/10/NS_haloween_home08-1200x774.jpg"} %>

    <div class="row my-3">

      <% city_images.each do |city, image| %>
      <div class="col-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image %>)">
          <h1><%= city %></h1>
        </div>
      </div>
      <% end %>

    </div>

  </div>
